*{
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header{
  background-color: rgb(236, 28, 36);
  width: 100%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  height: 120px;
}

.header img{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.header h1{
  display: inline-block;
  margin-left: 100px;
  width: 300px;
  text-align: justify;
  word-wrap: normal;
}

.navbar{
  width: 100%;
  text-align: center;
}

.navbar ul{
  list-style: none;
  display: flex;
}
.navbar ul li{
  width: 11.111111%;
  background-color: rgb(21, 78, 235);
  padding-top: 15px;
  cursor: pointer;
  padding-bottom: 15px;
}

.navbar ul li a{
  text-decoration: none;
  width: 100%;
  color: black;
  text-align: center;
}

.navbar ul li:hover {
  animation: colorSwitchNavBar;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  text-decoration: underline;
}

.navbar ul li:not(:hover){
  transition-duration: 1s;
}

.navbar .dropdownList{
  display: none;
  position: absolute;
  width: 11.1111%;
}

.navbar .dropdownList li{
  width: 100%;
  border-top: solid red 2px;
  border-bottom: solid red 2px;
}

.navbar .dropdownList li a{
  width: 100%;
  height: 100%;
  appearance: button;
  cursor: pointer;
}

.navbar .dropdownContainer:hover .dropdownList{
  display: block;
  z-index: 5;
  margin-top: 15px;
  transition: display 1s;
}

.navbar .dropdownContainer .dropdownList li:hover{
  animation: colorSwitchNavBar;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.navbar .dropdownContainer .dropdownList li:hover a{
  animation: colorSwitchNavBar;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes colorSwitchNavBar {
  0%   {background-color:red;}
  25%  {color: black; background-color:yellow;}
  50%  {color: white; background-color:blue;}
  75%  {background-color:green;}
  100% {background-color:red;}
}


.main_Index{
  background-image: url(../Images/Welcome_Page/Greenwood_exterior.jpg);
  width: 100%;
  height: 1300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-inside-image{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transparent_box{
  background-color: blue;
  opacity: 0.6;
}

.text_inside_transparent_box{
  opacity: 1.0;
  color: red;
  font-size: 25px;
  font-weight: bold;
}