*{
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header{
  background-color: rgb(236, 28, 36);
  width: 100%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  height: 120px;
}

.header img{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.header h1{
  display: inline-block;
  margin-left: 100px;
  width: 300px;
  text-align: justify;
  word-wrap: normal;
}

.navbar{
  width: 100%;
  text-align: center;
}

.navbar ul{
  list-style: none;
  display: flex;
}
.navbar ul li{
  width: 11.111111%;
  background-color: rgb(21, 78, 235);
  padding-top: 15px;
  cursor: pointer;
  padding-bottom: 15px;
}

.navbar ul li a{
  text-decoration: none;
  width: 100%;
  color: black;
  text-align: center;
}

.navbar ul li:hover {
  background-color: rgb(238, 255, 0);
  color: red;
  text-decoration: underline;
  transition: background-color 1s;
}

.navbar ul li:not(:hover){
  transition-duration: 1s;
}

.navbar .dropdownList{
  display: none;
  position: absolute;
  width: 11.1111%;
}

.navbar .dropdownList li{
  width: 100%;
  text-align: center;
  border-top: solid red 2px;
  border-bottom: solid red 2px;
}

.navbar .dropdownList li a{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.navbar .dropdownContainer:hover .dropdownList{
  display: block;
  z-index: 5;
  margin-top: 15px;
  transition: display 1s;
}

.Intro_Stripe{
  text-align: center;
  width: 100%;
  background-color: green;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

